//
  Below is the UW footer. Leave as is
div.uw-footer
  a.footer-wordmark(href='http://uw.edu') University of Washington

  a(href="http://uw.edu/boundless/be-boundless")
    h3.be-boundless BE BOUNDLESS

  h4 Connect with us:

  nav(role="navigation", aria-label="social networking")
    ul.footer-social
      li
        a.facebook( href="http://www.facebook.com/UofWA") Facebook
      li
        a.twitter( href="http://twitter.com/UW") Twitter
      li
        a.instagram( href="http://instagram.com/uofwa") Instagram
      li
        a.tumblr( href="http://uofwa.tumblr.com/") Tumblr
      li
        a.youtube( href="http://www.youtube.com/user/uwhuskies") YouTube
      li
        a.linkedin( href="http://www.linkedin.com/company/university-of-washington") LinkedIn
      li
        a.pinterest( href="http://www.pinterest.com/uofwa/") Pinterest
      li
        a.vine( href="https://vine.co/uofwa") Vine
      li
        a.google(href="https://plus.google.com/+universityofwashington/posts") Google+

  nav(role='navigation', aria-label='footer links')
    ul.footer-links
      li
        a(href='http://www.uw.edu/accessibility') Accessibility
      li
        a(href='http://uw.edu/home/siteinfo/form') Contact Us
      li
        a(href='http://www.washington.edu/jobs') Jobs
      li
        a(href='http://www.washington.edu/safety') Campus Safety
      li
        a(href='https://myuw.washington.edu/') My UW
      li
        a(href='http://www.washington.edu/admin/rules/wac/rulesindex.html') Rules Docket
      li
        a(href='http://www.washington.edu/online/privacy') Privacy
      li
        a(href='http://www.washington.edu/online/terms') Terms
