
<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
  <head>
    <title>SITE TITLE</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C700italic%2C400%2C700"/>
    <link rel="stylesheet" href="//cdn.washington.edu/assets/style.css"/>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/underscore.min.js"></script>
    <script src="assets/js/backbone.min.js"></script>
    <script src="//www.washington.edu/assets/js/site.dev.js"></script><!--[if lt IE 9]>
    <script src="assets/ie/js/html5shiv.js" type="text/javascript"></script>
    <script src="assets/ie/js/respond.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/ie/css/ie.css" type="text/css" media="all"/><![endif]-->
  </head>
  <body>
    <div id="uw-container">
      <div id="uw-container-inner">
        <!--start thinstrip header
        -->
        <div class="uw-thinstrip">
          <nav role="navigation" aria-label="audience based" class="uw-thin-strip-nav">
            <ul class="uw-thin-links">
              <li class="uw-quicklinks">
                <button aria-haspopup="true" aria-expanded="false">Quick Links
                  <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="15.63px" height="69.13px" viewBox="0 0 15.63 69.13" enable-background="new 0 0 15.63 69.13" xml:space="preserve">
                    <g>
                      <polygon fill="#FFFFFF" points="12.8,7.776 12.803,7.773 5.424,0 3.766,1.573 9.65,7.776 3.766,13.98 5.424,15.553 12.803,7.78"></polygon>
                    </g>
                    <g>
                      <polygon fill="#FFFFFF" points="9.037,61.351 9.036,61.351 14.918,55.15 13.26,53.577 7.459,59.689 1.658,53.577 0,55.155.882,61.351 5.882,61.351 5.884,61.353 0,67.557 1.658,69.13 7.459,63.019 13.26,69.13 14.918,67.557 9.034,61.353"></polygon>
                    </g>
                  </svg>
                </button>
              </li>
              <li class="uw-search">
                <button aria-haspopup="true" aria-owns="uwsearcharea" aria-controls="uwsearcharea" aria-expanded="false">Open search area
                  <svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.776px" height="51.062px" viewBox="0 0 18.776 51.062" enable-background="new 0 0 18.776 51.062" xml:space="preserve">
                    <g>
                      <path fill="#FFFFFF" d="M3.537,7.591C3.537,3.405,6.94,0,11.128,0c4.188,0,7.595,3.406,7.595,7.591                                              c0,4.187-3.406,7.593-7.595,7.593C6.94,15.185,3.537,11.778,3.537,7.591z M5.245,7.591c0,3.246,2.643,5.885,5.884,5.885                                              c3.244,0,5.89-2.64,5.89-5.885c0-3.245-2.646-5.882-5.89-5.882C7.883,1.71,5.245,4.348,5.245,7.591z"></path>
                      <rect x="2.418" y="11.445" transform="matrix(0.7066 0.7076 -0.7076 0.7066 11.7842 2.0922)" fill="#FFFFFF" width="1.902" height="7.622"></rect>
                      <path fill="#FFFFFF" d="M3.501,47.864c0.19,0.194,0.443,0.29,0.694,0.29c0.251,0,0.502-0.096,0.695-0.29l5.691-5.691l5.692,5.691                                              c0.192,0.194,0.443,0.29,0.695,0.29c0.25,0,0.503-0.096,0.694-0.29c0.385-0.382,0.385-1.003,0-1.388l-5.692-5.691l5.692-5.692                                              c0.385-0.385,0.385-1.005,0-1.388c-0.383-0.385-1.004-0.385-1.389,0l-5.692,5.691L4.89,33.705c-0.385-0.385-1.006-0.385-1.389,0                                              c-0.385,0.383-0.385,1.003,0,1.388l5.692,5.692l-5.692,5.691C3.116,46.861,3.116,47.482,3.501,47.864z"></path>
                    </g>
                  </svg>
                </button>
              </li>
              <li><a href="http://uw.edu/alumni" title="Alumni">Alumni</a></li>
              <li><a href="http://uw.edu/facultystaff" title="Faculty &amp;amp; Staff">Faculty &amp; Staff</a></li>
              <li><a href="http://uw.edu/parents" title="Parents">Parents</a></li>
              <li><a href="http://uw.edu/studentlife" title="Student Life">Parents</a></li>
            </ul>
          </nav>
          <div class="container"><a href="http://uw.edu" title="University of Washington Home" tabindex="-1" aria-hidden="true" class="uw-patch">Home</a><a href="http://uw.edu" title="University of Washington" tabindex="-1" aria-hidden="true" class="uw-wordmark">Home</a></div>
        </div>
        <!--end thinstrip header
        -->
        <div class="uw-hero-image"></div>
        <div class="container uw-body">
          <div class="row">
            <div role="main" class="col-md-12">
              <!--
              this is the main content area. This is where you can start editing
              below is the Site title. It should link back to the root (homepage of your site)
              
              --><a href="#" title="SITE TITLE">
                <h2 class="uw-site-title">SITE TITLE</h2></a>
              <div id="main_content" class="uw-body-copy">
                <!--
                this is the main body area. Here is where the main content for this page should live
                Replace all this content with your own.
                
                -->
                <!-- below is the header. Make this the name of your page-->
                <h1>Header</h1>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
                <div class="info-box">
                  <!-- this is an info box. You can delete the entire container to remove it or you can edit its content.-->
                  <h3>Info Box</h3>
                  <p>Small amount of information can be placed in here inside a "div.info-box" element</p>
                </div>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
            </div>
          </div>
        </div>
        <!--Below is the UW footer. Leave as is
        -->
        <div class="uw-footer"><a href="http://uw.edu" class="footer-wordmark">University of Washington</a><a href="http://uw.edu/boundless/be-boundless">
            <h3 class="be-boundless">BE BOUNDLESS</h3></a>
          <h4>Connect with us:</h4>
          <nav role="navigation" aria-label="social networking">
            <ul class="footer-social">
              <li><a href="http://www.facebook.com/UofWA" class="facebook">Facebook</a></li>
              <li><a href="http://twitter.com/UW" class="twitter">Twitter</a></li>
              <li><a href="http://instagram.com/uofwa" class="instagram">Instagram</a></li>
              <li><a href="http://uofwa.tumblr.com/" class="tumblr">Tumblr</a></li>
              <li><a href="http://www.youtube.com/user/uwhuskies" class="youtube">YouTube</a></li>
              <li><a href="http://www.linkedin.com/company/university-of-washington" class="linkedin">LinkedIn</a></li>
              <li><a href="http://www.pinterest.com/uofwa/" class="pinterest">Pinterest</a></li>
              <li><a href="https://vine.co/uofwa" class="vine">Vine</a></li>
              <li><a href="https://plus.google.com/+universityofwashington/posts" class="google">Google+</a></li>
            </ul>
          </nav>
          <nav role="navigation" aria-label="footer links">
            <ul class="footer-links">
              <li><a href="http://www.uw.edu/accessibility">Accessibility</a></li>
              <li><a href="http://uw.edu/home/siteinfo/form">Contact Us</a></li>
              <li><a href="http://www.washington.edu/jobs">Jobs</a></li>
              <li><a href="http://www.washington.edu/safety">Campus Safety</a></li>
              <li><a href="https://myuw.washington.edu/">My UW</a></li>
              <li><a href="http://www.washington.edu/admin/rules/wac/rulesindex.html">Rules Docket</a></li>
              <li><a href="http://www.washington.edu/online/privacy">Privacy</a></li>
              <li><a href="http://www.washington.edu/online/terms">Terms</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>